#navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  background-color: transparent !important;
}

#navbar h2 a {
  font-size: 30px;
  color: #f7d354;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

#navbar form button {
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 4px;
  color: #000;
  padding: 0.3rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.container-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.container-align h3 {
  color: #f7d354;
  text-transform: uppercase;
  font-size: 20px;
}

.container-align .user{
  color: aliceblue;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.container-align .user svg {
  font-size: 20px;
}

.container-align .user h4 {
  font-size: 17px;
}

@media (max-width: 650px) {
  #navbar {
    padding: 2rem 10px 2rem 10px;
    flex-direction: column;
    gap: 10px;
  }
}