.main-content {
    position: relative;
    padding: 20px;
}

.movies-container {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

    display: flex;
    flex-direction: row;
}

.movies-container::-webkit-scrollbar {
    display: none;
}

.iconsSlider {
    position: absolute;
    top: 50%;

    width: 100%;
    padding: 0 60px 0 40px;

    display: flex;
    justify-content: space-between;
    color: #f7d354;
}

.iconsSlider svg {
    font-size: 35px;
}

@media (max-width: 650px) {
    .iconsSlider {
        padding: 0 20px 0 20px;
    }
}