.container h2 {
  color: #fff;
}

.title-greet {
  margin: 5% 0 0 5%;
  color: aliceblue;
  font-size: 40px;
}

.container .title {
  color: #fff;
  font-size: 25px;
  text-align: start;
  margin: 4rem 0 2rem 4rem;
  text-transform: uppercase;
}

.title .query-text {
  color: #f7d354;
}

.movie-card {
  padding: 10px;
  color: #fff;
  min-height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
}

.movie-card img {
  height: 350px;
}

.movie-card img,
.movie-card p {
  margin-bottom: 5px;
}

.movie-card h2 {
  margin-bottom: 5px;
  font-size: 18px;
}

.movie-card svg {
  color: #f7d354;
}

.movie-card a {
  background-color: #f7d354;
  border: 2px solid #f7d354;
  border-radius: 4px;
  color: #000;
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: bold;
}

.movie-card div a:hover {
  background-color: transparent;
  color: #f7d354;
}
